.data-binding
  max-width: 400px
  .description
    margin-bottom: 10px
  .example
    border: 1px solid teal
    padding: 10px 15px
    // overflow-x: scroll
    overflow: hidden
    margin-bottom: 10px
  pre
    // display: inline
    // width: auto
    padding: 5px 10px
    border: 1px solid teal

    // background-color: lighten(grey, 40%)
  code

  input
    border: 1px solid #444
    padding: 5px 10px
    margin: 5px 0 10px
    font-size: 1.1rem
  .input-value
    white-space: nowrap
    overflow: hidden
    span
      // color: teal
      // color: blue(blue)
      font-weight: 500
      font-size: 1.1rem

