---
title: Data Binding
---
{% extends "layouts/_layout.html" %}


{% block content %}

{# variable example #}
<h1>{{title}}</h1>

<main class="data-binding">
  <p class="description">
    This is the example of binding inputs value to variable and binding variables value to inputs value.
  </p>
  <div class="example">
    <div class="input-wrapper">
      <input type="text">
    </div>
    <div class="input-value-wrapper">
      <p class="input-value">
        The value of this input is:
        <span>example value (placeholder)</span>
      </p>
    </div>
  </div>
  <p class="description">
    Open your console and rearrange dataBindings value to something else, e.g.
  </p>
  <code>dataBinding.data.value = 'new value'</code>
</main>

{% endblock %}